<div class="hdr">
  <img src="../../../assets/images/header.png" alt="" class="logo">
</div>    
<header>
    <div class="container">
        <nav>
            <ul class="nav">
                <a routerLink="" routerLinkActive="act">
                    <section class="nav_btn">
                        <img src="../../../assets/images/icono1.png" alt="" class="icono">
                        <li>Home</li>
                    </section>
                </a>
                <a routerLink="productos" routerLinkActive="active">
                    <section class="nav_btn">
                        <img src="../../../assets/images/icono2.png" alt="" class="icono">
                        <li>Productos</li>
                    </section>
                    </a>
                <a routerLink="gestion" routerLinkActive="active">
                    <section class="nav_btn">
                        <img src="../../../assets/images/icono3.png" alt="" class="icono">
                        <li>Gestion</li>
                    </section>
                </a>
            </ul>
        </nav>
    </div>
</header>


